@layer utilities {
    /* Text color utilities (semantic) */
    .text-primary {
        color: var(--text-primary);
    }

    .text-tertiary {
        color: var(--text-tertiary);
    }

    .text-muted {
        color: var(--text-muted);
    }

    .text-placeholder {
        color: var(--text-placeholder);
    }

    .text-accent {
        color: var(--text-accent);
    }

    .text-success {
        color: var(--text-success);
    }

    /* Brand background (primary button) */
    .bg-brand {
        background-color: var(--brand-primary);
    }

    .bg-secondary {
        background-color: var(--bg-secondary);
    }

    .border-secondary {
        border-color: var(--border-secondary);
    }

    .bg-border-secondary {
        background-color: var(--border-secondary);
    }

    .button-shadow {
        box-shadow:
                0px 1px 2px 0px #0A0D120D,
                0px -2px 0px 0px #0A0D120D inset,
                0px 0px 0px 1px #0A0D120D inset;
    }
}

@utility text-secondary {
    color: var(--text-secondary);
}

@utility border-primary {
    border-color: var(--border-primary);
}

@utility bg-primary {
    background-color: var(--bg-primary);
}

@utility outline-primary {
    outline: solid 1px var(--border-primary);
}